/*body{font-family: 'Noto Sans KR', sans-serif; width: 100%; height: 100%; background-color; font-size: 16px;}
.vsc-initialized{padding: 0px; margin: 0px;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}

#wrap {width: 100%; height: 100%; padding: 0px; margin: 0px;  }

#header{border-bottom: 2px solid #f0f0f0;}
#header #headerwrap{width: 1200px; height: 80px; margin: 0 auto;}
#header .logo{float: left; width: 148px; height: 60px; margin-top: 11px;}
#header .gnb{float: right;}
#header .gnb ul {margin-top: 33px}
#header .gnb ul li{float: left; font-size: 16px; font-weight: bold; margin-right: 20px;}
#header .gnb ul li a{text-decoration: none; color:#a4a2a2;}
#header .gnb ul li a:hover{text-decoration: none; color:#c00000;}

#content { width: 1200px; margin: 0 auto;  height : 100%; }
#leftcontent { float: left; width: 220px; height : 100%; }
#rightcontent { float: right; width: 980px; height: 100%; border-left:1px groove; padding-left: 15px; padding-bottom: 100px; }

#foot {clear:both; display:inline-block; width: 100%;}
#foot .fnbwrap{ background-color: rgb(30, 10, 1); color: rgb(102, 78, 78);  width: 100%;}
.fnbwrap ul {font-weight: bold; font-size: 14px; display: inline-block; margin: 0px; padding: 0px; padding-left: 40px; padding-top: 15px;}
.fnbwrap ul li{float: left; margin-right: 10px;}
.fnbwrap p{margin: 0px; padding: 0px; padding-left: 40px; padding-top: 10px; padding-bottom:18px; }

input{padding:4px 10px 4px 10px; boder:1px solid #f2f2f2; border-radius: 3px; font-size: 14px;}
h1{font-size: 22px; }

 */
.vsc-initialized{padding: 0px; margin: 0px;} 
#header{border-bottom: 2px solid #f0f0f0;}
#header #headerwrap{width: 1200px; height: 80px; margin: 0 auto;}
#header .logo{float: left; width: 148px; height: 60px; margin-top: 11px; padding-left: 10px;}
#header .gnb{float: right;}
#header .gnb ul {margin-top: 33px}
#header .gnb ul li{float: left; font-size: 16px; font-weight: bold; margin-right: 20px;}
#header .gnb ul li a{text-decoration: none; color:#a4a2a2;}
#header .gnb ul li a:hover{text-decoration: none; color:#c00000;}

#content{ width:1200px; margin: 0 auto; text-align: center;}

#leftcontent, #rightcontent {float: left;}
#leftcontent{width: 220px;}
#rightcontent {border-left:2px solid #f0f0f0; padding-left: 15px; padding-bottom: 80px;width: 980px; background: white;min-height: 750px;}
#content:after {content:'';clear: both;display: block;}
#leftcontent ul li{width: 220px; text-align: left; padding: 10px 0px 5px 0px;}
#leftcontent ul li a{ text-decoration:none; color:#5f5f5f; font-size:17.5px; font-weight: bold; }
#leftcontent ul li a:hover { text-decoration:none !important; color:#c00000; }

#foot{width: 100%;height: 120px;background-color: rgb(30, 10, 1);color: rgb(102, 78, 78);}
.fnbwrap{width:1200px; margin: 0 auto; }
.fnbwrap ul {overflow: hidden; margin: 0px;}
.fnbwrap ul li {float: left;margin-right: 10px; margin-top: 15px; font-weight: bold;font-size: 13px;}
.fnbwrap p {margin: 0px;padding: 0px;padding-left: 40px;padding-top: 10px;padding-bottom: 18px; font-size:12px;}

input{padding:4px 10px 4px 10px; boder:1px solid #f2f2f2; border-radius: 3px; font-size: 14px;}

h1{font-size: 20px; }