body{font-family: 'Noto Sans KR', sans-serif; width: 100%; height: 100%; background-color; font-size: 16px;}
.vsc-initialized{margin:0px; padding:0px;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}

#wrap {width: 100%; height: 100%; padding: 0px; margin: 0px;}

#header{border-bottom: 2px solid #f0f0f0;}
#header #headerwrap{width: 1200px; height: 80px; margin: 0 auto; Position:relative;}
#header .logo{float: left; width: 148px; height: 60px; margin-top: 11px;}
#header .gnb{float: right;}
#header .gnb ul {margin-top: 33px}
#header .gnb ul li{float: left; font-size: 16px; font-weight: bold; margin-right: 20px;}
#header .gnb ul li a{text-decoration: none; color:#a4a2a2;}
#header .gnb ul li a:hover{text-decoration: none; color:#c00000;}

#content { width: 1200px; margin: 0 auto;  height : 100%;}
#leftcontent { float: left; width: 220px; height : 100%; }
#rightcontent { float: right; width: 980px; height: 100%; border-left:1px groove; padding-left: 15px; }

#foot{clear: both; width: 100%; margin:0 auto; height: 130px; background-color: aqua;}
#foot ul li{ float: left; clear: both;}


#leftcontent ul li {background-color:gray; padding: 5px;}



.myButton {
	background:linear-gradient(to bottom, #d11414 5%, #bd1515 100%);
	background-color:#d11414;
	border: 0px solid;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	/* font-size:15px; */
	padding:5px 10px;
	text-decoration:none;
	margin: 14px 0px 0px 0px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bd1515 5%, #d11414 100%);
	background-color:#bd1515;
}
.myButton:active {
	position:relative;
	top:1px;
}

input{padding:4px 10px 4px 10px; boder:1px solid #f2f2f2; border-radius: 3px; font-size: 14px;}
h1{font-size: 22px; }
