<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deptBoard">

<select id="deptList" resultType="mc.board.model.BoardDto" parameterType="map">
<!-- 	select * from board natural join employee e1 where type=#{type} and 
	dept_no = (select dept_no from employee e2 where e2.employee_no = #{employee_no}) 
	order by board_no desc limit #{start},#{per}
	 -->
	select * from board b join employee e on e.employee_no = b.employee_no 
		<where>
			 type=#{type} and dept_no = (select dept_no from employee e2 where e2.employee_no = #{employee_no}) 
			<if test="searchType=='subject' and keyword != null and keyword != '' ">
				AND subject like CONCAT('%',#{keyword},'%')
			</if>
			<if test="searchType=='name' and keyword != null and keyword != '' ">
				AND name like CONCAT('%',#{keyword},'%')
			</if>
		</where>
		order by board_no desc limit #{start},#{per}
</select>

<select resultType="int" parameterType="map" id="count">
	SELECT count(*) FROM board b join employee e on e.employee_no = b.employee_no 
		<where>
		 	 type=#{type} and dept_no = (select dept_no from employee e2 where e2.employee_no = #{employee_no})
	     	
			<if test="keyword != null and keyword != '' ">

				<if test="searchType=='subject'">
					AND subject like CONCAT('%', #{keyword}, '%')
				</if>
				<if test="searchType=='name'">
					AND name like CONCAT('%', #{keyword}, '%')
				</if>
			</if>
	</where>
		order by board_no desc
</select>


<select parameterType="mc.board.model.BoardDto" resultType="mc.board.model.BoardDto" id="selectSubject">
	select * from board where
	subject LIKE CONCAT('%',#{subject},'%') order by board_no desc
</select>

<select parameterType="mc.board.model.BoardDto" resultType="mc.board.model.BoardDto" id="selectEname">
	select * from board where name
	LIKE CONCAT('%',#{name},'%') order by board_no desc 
</select>


<select resultType="int" id="max" parameterType="int">
	select max(board_no) from board type = 2
</select>

<!-- content -->


<select parameterType="int" resultType="mc.board.model.BoardDto" id="content">
	select * from board natural join employee where board_no=#{board_no}
</select>

<update parameterType="int" id="readcount">
	update board set readcount=readcount+1 where board_no = #{board_no}
</update>

<!-- update -->


<update parameterType="mc.board.model.BoardDto" id="update">update board
	set subject=#{subject},reg_date=#{reg_date},contents=#{contents} where
	board_no=#{board_no}
</update>

<!-- write -->


<insert parameterType="mc.board.model.BoardDto" id="write" useGeneratedKeys="true" keyProperty="board_no">
	insert into	board(employee_no,type,subject,reg_date,contents,readcount)
	values(#{employee_no},#{type},#{subject},#{reg_date},#{contents},#{readcount})
</insert>


<!-- delete -->


<delete parameterType="int" id="delete">
	delete from board where board_no = #{board_no}
</delete>


<!-- 첨부파일 작성 -->
	<insert parameterType="hashMap" id="fileWrite">
		insert into board_file(board_no,file_no,file_name,file_path,filesize,stored_file_name,del_gb)
		values(#{board_no},#{file_no},#{file_name},#{file_path},#{filesize},#{stored_file_name},'N')		
	</insert>
	

	<!-- 첨부파일 조회 -->
	<select id="selectFileList" parameterType="int" resultType="hashMap">
		select file_no, file_name, round(filesize/1024,1) as filesize, del_gb from board_file
		where board_no = #{board_no} and del_gb = 'N' ORDER BY file_no asc
	</select>


	<!-- 첨부파일 다운 -->
	<select id="selectFileInfo" parameterType="hashMap" resultType="hashMap">
		select stored_file_name, file_name from board_file where file_no = #{file_no}
	</select>

	<!-- 첨부파일 수정 -->
	<update id="updateFile" parameterType="hashMap">
		update board_file set del_gb = 'Y' where file_no = #{file_no}
	</update>

	<delete id="deleteFile" parameterType="int">
		delete from board_file where file_no = #{file_no}
	</delete>


</mapper>